html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}
